@{
    ViewData["Title"] = "Final Project";
}
<div class="spscc-bg">
    <div class="text-center intro">
        <h1 class="display-4">Week 10: Team Project</h1>
        <p>Hau Le</p>
        <p>CIS218</p>
    </div>
</div>

