/*Developed by Hau Le*/ 
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
* {
    box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body {
    margin-bottom: 60px;
    background: #141414;
    color: #fff;
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}

.spscc-bg {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipOr1iYa8XopwsUM0F4IbN7njn84OuDOcaiIVLXK=s680-w680-h510);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

/* Remove margins and padding from the list */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the list items */
#myUL li {
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

#myUL li button{
    margin-left: 10px;
    box-shadow: 0 2px 4px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}